.App {
  text-align: center;
  /* background-color: #117221; */
  background-color: #2f4c3d;
  height: 100vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


img.github, img.menu-user {
  margin: 5px 10px 5px 40px;
  height: calc(100% - 10px);
  width: auto;
}

.new-game {
  position: fixed;
  top: 45vh;
  max-width: 280px;
  left: calc(50vw - 140px);
  z-index: 2000;

  display: flex;
  flex-direction: column;

  span {
    font-weight: bold;
    font-size: 3rem;

    &.lost {
      color: #f11;
      background-color: #d117;
      text-shadow: 1px 1px 5px #711;
    }
    &.won {
      color: #1f1;
      background-color: #1d17;
      text-shadow: 1px 1px 5px #171;
    }
  }
  
  button {
    min-height: 10vh;
    min-width: 10vh;

    border-radius: 10px;
    font-size: 3rem;

    background-color: #0f02;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-weight: bold;
    border-color: white;
    border-width: 8px;
    cursor: pointer;
    padding: 10px;

    &.peg-win {
      background-color: #030e;
    }
  }
}

.Menu {
  position: fixed;
  top: 7vh;
  height: 30px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  width: 86vw;
  left: 7vw;

  .game-select {
    cursor: context-menu;
    list-style: none;
    padding: 0;
    margin: 0;

    position: absolute;
    right: 10px;
    top: 7px;

    height: 36px;
    overflow: hidden;

    padding: 2px;
    border-radius: 18px;
    width: 180px;

    &:hover {
      height: initial;
      z-index: 50;
    }

    li {
      height: 30px;
      padding: 3px 0;
      background-color: #000c;

      display: flex;
      justify-content: center;

      &:hover {
        background-color: #333c;
      }
      &:not(:first-child) {
        cursor: pointer;
      }
      
      span.score {
        width: 50px;
        font-size: 1.5rem;
        margin-top: 2px;
      }
      span.score + img {
        height: 20px;
        width: 40px;
        margin: 5px 10px;
        width: auto;
      }
    }


    &:hover {
      height: initial;
    }
  }
}


button.login {
  position: fixed;
  top: 45vh;
  left: 45vw;
  z-index: 8000;
}

.splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    height: 30vh;
    width: auto;
  }
}
