.App {
  text-align: center;
  background-color: #117221;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


img.github, img.user {
  margin: 10px 0 0 50px;
  height: calc(100% - 10px);
  width: auto;
}



.Menu {
  height: 30px;
  flex-grow: 1;

  display: flex;
  justify-contents: space-around;
  
  button.new-game {
    height: 100%;
  }

  .game-select {
    list-style: none;
    padding: 0;

    position: absolute;
    right: 10px;
    top: 20px;

    height: 30px;
    overflow: hidden;

    &:hover {
      height: initial;
      z-index: 50;
    }

    li {
      height: 30px;      
      background-color: #000c;

      display: flex;
      
      img {
        height: 20px;
      }
    }


    &:hover {
      height: initial;
    }
  }
}
