.game-container {
  flex-grow: 1;
}

.Game {
  display: flex;
  flex-direction: column-reverse; /* column for p2-mode */

  height: 100%;
  width: 100%;

  .peg {
    width: 100%;
    height: 29vh;

    .peg-container {
      width: 100%;
      height: 100%;
      position: relative;

      .peg-total {
        position: absolute;
        right: 18px;
        top: 12vh;
        z-index: 12;
      }
    }
  }
  
  .hand {
    width: 100%;

    text {
      user-select: none;
    }

    & svg > g > * { transition: 200ms transform }
    
    @for $i from 0 through 5 {
      &.selected-#{$i} {
        
        svg > g:nth-child(#{$i+1}) {
          
          & > rect {
            transform: translateY(-10px);
          }
          & > text {
            transform: translate(7px, 30px);
          }
          & > g {
            transform: translate(21px, 50px) rotate(180deg);
          }
        }
      }
    }
  }

  .cut-container {
    position: fixed;
    right: 8px;
    top: 44vh;
    height: 12vh;
    width: 12vh;

    & > svg > g > text {
      transform: translate(14px, 80px) scale(2);
    }
    & > svg > g > g {
      transform: translate(40px, 116px) rotate(180deg) scale(2);
    }
  }
}
